<nav>
  <ul style="list-style-type: none" id="nav-links">
    <li class="nav-item" id="nav-1">
      <a href="/">Home</a>
    </li>
    <li class="nav-item" id="nav-2">
      <a href="/about">About</a>
    </li>
    <li class="nav-item" id="nav-3">
      <a href="/projects">Projects</a>
    </li>
    <li class="nav-item" id="nav-4">
      <a href="/blog">Blog</a>
    </li>
    <li class="nav-item" id="nav-5">
      <a href="/contact">Contact</a>
    </li>
  </ul>

  <div class="nav-logo">
    <a href="#"> <span>Jason Starkey</span><span>.dev</span> </a>
  </div>
</nav>
