<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body class="container">
    <%- include('./partials/header'); %>
    <main>
      <section>
        <div>
          <h3>Hello and welcome to my website!</h3>
          <p>
            It is currently under construction, but in the meantime, I was interested in blogging my web development
            learning process. So here it goes!
          </p>
          <a href="/blog"><button>Blog Home</button></a>
        </div>
      </section>
    </main>
    <script src="./scripts/index.js"></script>
  </body>
</html>
