<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/header'); %>
    <main>
      <form action="" class="new-post">
        <input type="text" name="title" id="blog-title" placeholder="title" />
        <textarea name="content" id="blog-content" cols="100" rows="30"></textarea>
        <input type="date" />

        <button>Submit</button>
      </form>
    </main>
    <script src="/scripts/index.js"></script>
  </body>
</html>
