<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/css/common/root.css">
    <link rel="stylesheet" href="../public/css/common/nav.css">
    <link rel="stylesheet" href="../public/css/ind.css">


    <title>Home</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>    
        <div>
            <img src="../public/images/js-dev-logo.svg" alt="js dev logo">
        </div>

        
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        
    </nav>

    <!-- Header -->
    <header id="home-header">
        <div class="header-title">
            <span>Hi there,</span>
            <span>I'm <span id="pink-text">Jason Starkey</span></span>
        </div>

        <p>. . . and I am a web and software developer with a passion for all things <span>code</span>. I love to learn new technologies, design interfaces, and work with talented and driven people.  I am always in search of my next project or problem to tackle. Thanks for visting!</p>
        
        <button>ABOUT ME</button>
        <div class="angled-box"></div>
        <div class="angled-box"></div>
        <div class="angled-box"></div>
        <div class="angled-box"></div>
    </header>

    <!-- About -->
    <section id="sec-about">
        
    </section>

    <!-- Projects -->
    <section id="sec-projects">
    </section>

    <!-- Blog Posts -->
    <section id="blog-posts">
    </section>

    <!-- Footer -->
    <footer>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>