<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body class="container">
    <%- include('./partials/header'); %>
    <main>
        <div id="post-content">
            <h1> My First Blog </h1>
            <small> Published on Monday, 03 May, 2021 </small>
            <br>
        
            <div id="actual-blog-post">
              <p>Hello all, and welcome to my first official blog post. It is a little weird to be writing this. I never thought of myself as someone who 'blogs'. Though, with my recent decent into the world of web development, I felt like documenting the experience would be a good way to keep track of what I am learning, and to hopefully inspire me to continue with it.</p>
              <p>This blog is going to eventually be divided into three main sections</p> <br>
                <ul>
                  <li> <b>Learning:</b> Here I will document what I am currently learning. Often times, when I come back to previous projects or tasks, etc. I cannot exactly get into the mindset I was in when implementing/learning the first time. So hopefully, this section will provide me a nice and organized way to keep my learning documented. <br>
                  <li> <b>Personal:</b> This will be for posts like this. I just like to talk sometimes. I like to talk about my day, new sayings I have heard, new interests. Sometimes everything can't be about learning! <br>
                  <li> <b>Educational:</b> This will be used sparingly and will serve as a tutorials section of my blog. If I learn anything particularly useful and want to share with others in a more professional format, I will do so in this section. <br></p>
              
                </ul>
                <p>That is pretty much all I wanted to cover today. This will be a slow process, but I am really excited!</p>
        
            </div>
        
            <div id="nav-buttons">
              <a href="pages/blog-home.html"><button class="nav-btns">&lt;&lt; Blog Home</button></a>
              <a href="pages/Blog-Updates/2021-05-28.html"><button class="nav-btns">Next Post &gt;&gt;</button></a>
            </div>
          </div>
    </main>
    <script src="./scripts/index.js"></script>
  </body>
</html>


