@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 99;
    min-height: 30px;
}

img {
    width: 120px;
    padding: 0px 5px;
    position: relative;
    top: 2px;
}



ul {
    list-style-type: none;
    
    
    font-family: var(--font-pay);

    font-weight: bold;
    font-size: 1.8rem;


    display: flex;
    justify-content: space-between;
    align-items: stretch;    

    position: relative;
    right: 20px;
}

ul a {
    text-decoration: none;
    color: white;
}

li {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: background-color .4s ease-out;
    transform: skew(-5deg);
}
a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


ul li:hover {
    background-color: #fd4e56;
}