body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

span {
    padding: .2em 0;
}

span:last-of-type {
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}